body {
    margin: 0;
    font-family: 'Verana Sans', Arial, sans-serif;
    background-color: #002366;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#input_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
    margin-top: 10vh;
    padding: 2vw;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

#train_div,
#wagon_div {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

#train_div label,
#wagon_div label {
    font-size: 1.8vw;
    margin-bottom: 0;
    margin-right: 1em;
    white-space: nowrap;
}

#train_number,
#wagon_number {
    font-size: 2vw;
    padding: 0.5vh;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    width: 40%;
    text-align: center;
}

#buttons_div {
    display: flex;
    gap: 1vw;
}

.button {
    display: flex;
    font-size: 2vw;
    padding: 0.5vw;
    background-color: #fff;
    color: #002366;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    align-items: center;
}

.button:hover {
    background-color: #ff6600;
    color: #fff;
}

#settings_label {
    font-size: 2vw;
    font-weight: bold;
}

#settings img {
    width: 2.5vw;
    height: 2.5vw;
}

#settings_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    padding: 0 2vw;
}

#settings_div.show {
    max-height: 100vh;
    opacity: 1;
    padding: 2vh 2vw;
}

.checkbox_div {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 1vh 0;
}

.checkbox_div label {
    font-size: 1.5vw;
    margin-bottom: 0;
    margin-right: 1vw;
}

#delay {
    margin-left: 1vw;
    align-self: start;
    height: 2vw;
    width: 2vw;
}

@media (max-width: 600px) {
    body {
        padding: 2vh 1vw;
    }

    #train_div label,
    #wagon_div label {
        font-size: 5vw;
    }

    #train_number,
    #wagon_number {
        font-size: 5vw;
        width: 80%;
    }

    #submit {
        font-size: 4vw;
    }

    #settings {
        padding: 0 1vw;
    }

    #settings_label {
        font-size: 6vw;
    }

    #delay_chekbox_div {
        padding: 0 1vw;
    }

    #delay_chekbox_div label {
        font-size: 4vw;
        margin-right: 2vw;
    }

    #settings img {
        width: 6vw;
        height: 6vw;
    }

    .button {
        font-size: 5vw;
    }

    #delay {
        height: 4vw;
        width: 4vw;
    }
}