body {
    margin: 0;
    font-family: 'Verana Sans', Arial, sans-serif;
    font-size: 1vw;
    background-color: #002366;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#input_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
    margin-top: 8vh;
    padding: 1.5em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.options_box {
    display: grid;
    align-items: center;
    justify-items: center;
    row-gap: 0.7em;
    column-gap: 2em;
}

.options_box > label {
    grid-column: 1;
    font-size: 1.8em;
    white-space: nowrap;
}

.options_box > input, .options_box > select  {
    grid-column: 2;
    font-size: 2em;
    padding: 0.15em;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    text-align: center;
    width: 100%;
}

.options_box > input[type="checkbox"] {
    height: 1em;
    width: 1em;
}

.button_box {
    display: flex;
    gap: 1em;
}

.button {
    display: flex;
    font-size: 2em;
    padding: 0.25em;
    background-color: #fff;
    color: #002366;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    align-items: center;
}

.button:hover {
    background-color: #ff6600;
    color: #fff;
}

#settings_name {
    font-size: 2.4em;
    font-weight: bold;
}

.button img {
    width: 1.25em;
    height: 1.25em;
}

#settings_div {
    display: flex;
    font-size: 0.85em;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    padding: 0 2em;
}

#settings_div.show {
    max-height: 100vh;
    opacity: 1;
    padding: 2em 2em;
}

.checkbox_div label {
    font-size: 1.5em;
}

@media (max-width: 700px) {
    body {
        font-size: 2.5vw;
    }
}


@media (max-width: 1000px) {
    body {
        font-size: 1.5vw;
    }
}