body {
    margin: 0;
    padding: 4vh 2vw;
    font-family: 'Verana Sans', Arial, sans-serif;
    line-height: 1;
    background-color: #002366;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

#main_display {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    visibility: hidden;
    flex: 1;
}

hr {
    width: 100%;
    border: 1px solid #fff;
}

.box_scroll {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    font-size: 6vw;
    margin-right: 1vw;
}

#top_bar {
    width: 100%;
    padding: 0.1vh;
    display: flex;
    justify-content: space-between;
}

#carriage_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #002366;
    font-size: 6vw;
    font-weight: bolder;
    padding: 0vh 1vw;
    gap: 1vw;
}

#carriage_info img {
    width: 10vw;
}

#route_box {
    font-size: 6vw;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    line-height: 1.2;
}

.line_left {
    text-align: left;
    overflow: hidden;
    overflow-x: auto;
    width: 99%;
}

.line_right {
    padding-top: 2vh;
    width: 100%;
    text-align: right;
}

.line_one {
    text-align: center;
    overflow: hidden;
}

#stations_box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-bottom: 15vh;
}

#next_station {
    font-size: 6vw;
    text-align: center;
    line-height: normal;
    color: #ff6600;
    margin: 4vh 0;
}

#next_station_delay {
    display: inline-block;
    font-size: 6vw;
    text-align: center;
    line-height: 1.1;
    color: #fff;
    margin: 4vh 0;
}

#old_time {
    color: #ff4400;
    font-size: 5vw;
}

#old_time::after {
    content: ' ';
    font-size: 0;
}

#new_time {
    color: #02dd02;
}

#rest_stations {
    font-size: 2.8vw;
    text-align: center;
    line-height: normal;
    margin: 0 2vw;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    column-gap: 1vw;
    justify-content: center;
    /* Updated to ensure proper centering */
}

#bottom_bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #002366;
    padding: 1vh 4vw;
    font-weight: bold;
}

#date,
#time,
#temperature,
#current_speed {
    font-size: 2.5vw;
}

#logo {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#logo img {
    width: 10vw;
}

#logo span {
    font-size: 2.5vw;
    font-style: italic;
}

#error_box {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#error_message {
    transition: opacity 0.3s ease;
}

#error_box img {
    width: 20vw;
}

#loader_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader_box img {
    width: 10vw;
}